.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-lighter);
}

.main-layout__content {
  flex: 1;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .main-layout__content {
    padding-bottom: 0;
  }
}
